* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    object-fit: cover;
    object-position: 60% 10%;
    /* Para visualizar los efectos 
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    z-index: 0;
} */

img {
    width: 100vw;
    height: 100vh;
}

div{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Para suavizar los efectos*/
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    background-color: transparent;
    z-index: 1;
}

img:active {
    /*opacity: 0.2;*/
    /*display: none;*/
    order: 2;    
}

p {
    display: none;
    /*Para visualizar los efectos*/
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    order: 2;

}

/* REVISAR ESTO*/
@media all and (orientation: landscape){
    img{
        width: 70vh;
        margin: auto;
    } 
}

